altgraph==0.15
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Cython==0.27.1
docutils==0.14
future==0.16.0
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
macholib==1.9
matplotlib==2.1.1
numpy==1.13.3
olefile==0.44
pefile==2017.11.5
Pillow==4.3.0
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.3.1
pyparsing==2.2.0
PySDL2==0.9.6
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
urllib3==1.22
